body {
	padding: 0;
	margin: 0;
	/*background-color: pink;*/
	font-family: "MS Sans Serif";
}

.container {
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:active,
a:hover,
a:link,
a:visited {
	text-decoration: none;
}

